@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700);

body {
  background-color: #544044;
  color: white;
  font-family: "Quattrocento Sans", sans-serif;
}

a {


}

h1 {


}

h2 {


}

ul {

}

li {

}


