body {
  margin: 4em;
}

a {
  text-decoration: none;
}

h1, h2 {
  border-bottom: thin solid;
}

ul, li {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

li {
  border-bottom: medium solid;
  padding-top: 1em;
}

button,
fieldset {
  border-radius: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  height: 1.5em;
  width: 30em;
  border: 1px solid;
  border-radius: 5px;
  margin-bottom: 1em;
}

textarea {
  min-height: 6em;
  padding-top: 6px;
  padding-bottom: 6px;
}

label,
legend {
  margin-bottom: 0.5em;
}
