* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  border-bottom: thin solid;
}

.stripe-text{
  border-bottom: none;
  line-height: 2em;
  padding: 3em;
}

.sidebar-text{
  border-bottom: none;
  line-height: 1.5em;
}

ul, li {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

li {
  border-bottom: medium solid;
  padding-top: 1em;
}

button,
fieldset {
  border-radius: 5px;
}

button {
  min-width: 90px;
  width:50%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  height: 1.5em;
  border: 1px solid;
  border-radius: 5px;
  margin-bottom: 1em;
}

textarea {
  padding-top: 6px;
  padding-bottom: 6px;
}

label,
legend {
  margin-bottom: 0.5em;
}
