header, footer {
  padding: 2em;
}

footer {
  clear: both;
}

main {
  display: inline;
  padding: 3em;
}

#sidebar {
  display: inline;
  padding: 1em;
}

nav {
  padding: 0.5em;
  margin: 0.5em 0;
}

article {
  display: inline-block;
}




