footer {
  padding: 2em;
  clear: both;
}

.core {
  padding: 3em;
}

.sidebar {
  padding: 1em;
}

.sidebar__img {
  width: 100%;
}

nav {
  padding: 0.5em;
  margin: 0.5em 0;
}

.stripe1,
.stripe2 {
  height: 50em;
  clear: both;
}

@media only screen and (min-width: 320px) {
  ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
}

@media only screen and (min-width: 550px) {
  ul{
    columns:1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }
  .core, .sidebar {
    height:100%;
  }
}



