body {
  background-color: #544044;
  color: white;
}

a {
  color: #50FFF2;
}

h1, h2, li {
  border-color: #73B2B1;
}

nav, button {
  background-color: #73B2B1;
}

header,
main,
#sidebar {
  background-color: #73717F;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  background-color: #fff;
  border-color: #D1D1D1;
  color: black;
}
