/* --- Fonts for headings --- */

@font-face {
  font-family: 'Josefin-Slab';
  src: url('../fonts/josefin-slab/JosefinSlab-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Josefin-Slab';
  src: url('../fonts/josefin-slab/JosefinSlab-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Josefin-Slab';
  src: url('../fonts/josefin-slab/JosefinSlab-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Josefin-Slab';
  src: url('../fonts/josefin-slab/JosefinSlab-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

/* -- Fonts for text -- */

@font-face {
  font-family: 'Encode-Sans';
  src: url('../fonts/encode-sans/EncodeSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Encode-Sans';
  src: url('../fonts/encode-sans/EncodeSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* -- Fonts for icons -- */

@font-face {
  font-family: 'ico-fonts';
  src:url('../fonts/icons/icomoon.eot');
  src:url('../fonts/icons/icomoon.eot') format('embedded-opentype'),
    url('../fonts/icons/icomoon.woff') format('woff'),
    url('../fonts/icons/icomoon.ttf') format('truetype'),
    url('../fonts/icons/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'ico-fonts';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter2:before {
    content: "\ea92";
}
.icon-facebook2:before {
    content: "\ea8d";
}
.icon-google-plus2:before {
    content: "\ea89";
}
.icon-pinterest2:before {
    content: "\ead1";
}
